@import url("https://rsms.me/inter/inter.css");
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html {
  color: #03005c;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6faff;
}

h1,
h2,
h3,
h4 {
  font-family: "Inter var", sans-serif;
  margin-bottom: 0;
}

p,
a {
  font-family: "Inter var", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 0;
  text-decoration: none;
  color: inherit;
}
